<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78275783-sunknl0kr4lladks6kpisqt4744i1vqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78275783-sunknl0kr4lladks6kpisqt4744i1vqm</string>
	<key>API_KEY</key>
	<string>AIzaSyBx6QGPWIO5cbKMGLqKfgY3xDpWnJCJHOo</string>
	<key>GCM_SENDER_ID</key>
	<string>78275783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-fde3d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-fde3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78275783:ios:7cac6577d62349775dcae2</string>
	<key>DATABASE_URL</key>
	<string>https://chat-fde3d.firebaseio.com</string>
</dict>
</plist>